<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <div class="container">
      <h1>To-Do List</h1>

      <form action="/add" method="POST" class="add">
        <input type="text" name="task" placeholder="Enter task..." required>
        <button class="add-btn">Add</button>
      </form>

      <form method="GET" action="/" class="search">
        <input type="text" name="search" placeholder="Search..." value="<%= search %>">
        <button>Search</button>
      </form>

      <div class="filters">
        <a href="/?status=all">All</a>
        <a href="/?status=pending">Pending</a>
        <a href="/?status=completed">Completed</a>
      </div>

      <ul>
        <% if (todos.length===0) { %>
          <p>No tasks found</p>
          <% } %>

            <% todos.forEach((todo)=> { %>

              <li class="<%= todo.completed ? 'done' : '' %>">

                <div class="task-left">
                  <form action="/toggle/<%= todo.originalIndex %>" method="POST" style="margin:0;">
                    <input type="checkbox" onchange="this.form.submit()" <%=todo.completed ? "checked" : "" %>>
                  </form>

                  <span class="task-text">
                    <%= todo.text %>
                  </span>

                  <small class="status">
                    (<%= todo.completed ? "Completed" : "Pending" %>)
                  </small>
                </div>

                <div class="actions">
                  <a href="/edit/<%= todo.originalIndex %>" class="icon-btn edit-btn">
                    <img src="/icons/edit.png">
                  </a>

                  <a href="/delete/<%= todo.originalIndex %>" class="icon-btn delete-btn">
                    <img src="/icons/recycle-bin.png">
                  </a>
                </div>

              </li>
              <% }) %>
      </ul>
    </div>

  </body>

</html>